html {
  box-sizing: border-box;
}

nav {
  background-color: #eb4034;
}

header {
  background-color: #eb7134;
}

main {
  background-color: #ebc034;
  position: relative;
}

aside {
  background-color: #c9eb34;
  position: absolute;
  height: 250px;
  width: 100px;
  right: 0;
  top: 45px;
}

.recomendations {
  background-color: #34d3eb;
}

.left-suggestions {
  background-color: #9c34eb;
}

.right-suggestions {
  background-color: #c034eb;
}

footer {
  background-color: #59eb34;
}

.copy-rights-info {
  background-color: #34eb89;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 200px 400px 350px 100px;
  grid-gap: 20px;
}

nav {
  height: 50px;
}

header {
  grid-column: 1 / 3;
  justify-self: center;
  min-width: 900px;
}

main {
  grid-column: 1 / 3;
  justify-self: center;
  min-width: 800px;
} 

section.recomendations {
   grid-column: 1 / 3;
}

.recomendations {
  display: contents;
}

footer {
   grid-column: 1 / 3;
  /* grid-row: ; */
}

.copy-rights-info {
  grid-column: 1 / 3;
}